*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: lightgray;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: black;
    height: 50px;
}
nav a{
    font-size: 19px;
    font-weight: 400;
    color: white;
    text-decoration: none;
}
.navCenter a{
    padding: 10px;
}
nav a:hover{
    color: bisque;
    text-decoration: underline;
}
section h1{
   text-align: center
}